 /* Animation des vagues */
 .wave-animation {
  animation: waveMove 10s ease-in-out infinite alternate;
}

.wave-1 {
  animation: waveMove 15s ease-in-out infinite alternate-reverse;
}

.wave-2 {
  animation: waveMove 12s ease-in-out infinite alternate;
  animation-delay: 0.5s;
}

.wave-3 {
  animation: waveMove 8s ease-in-out infinite alternate-reverse;
  animation-delay: 1s;
}

@keyframes waveMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-30px);
  }
}

/* Effet hover sur le badge */
.hero-section:hover .wave-animation {
  animation-duration: 5s;
}