
<div class="w-full h-[600px] flex justify-center items-start flex-col ps-16" style="background-image: url('https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Hero_SlimVariation-power-automate?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=3200&hei=1000&qlt=100&fit=constrain');background-size: 100%;">
    <h1 style="color: #0E1726;font-size: 66px;font-weight: 500;">Power Automate</h1>
    <p style="color: #0E1726;font-size: 26px;font-weight: 200;width: 40%;padding-top: 14px;line-height: 1.2;">Optimiser les processus métier avec une solution d'automatisation complète alimentée par le low code et l'IA.</p>
    <div class="mt-6" style="width: 45%;background-color: transparent;box-shadow: 0 0 8px black;border-radius: 12px;padding: 12px; " >
        <div class="flex gap-4 w-full justify-start">
            <img height="200" style="width: 100px;aspect-ratio: 1/1;height: 100px;" src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Hero_PAU_icon?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=96&hei=96&qlt=100&fit=constrain" alt="" srcset="">
            <p style="width: 70%;color: #0E1726;font-size: 26px;font-weight: 200;padding-top: 14px;line-height: 1.2;">Rationalisez les processus au sein de votre organisation pour gagner du temps et vous concentrer sur ce qui est important.</p>
        </div>
        <button routerLink="/NousContacter" class="p-5 mt-5" style="background-color: #006DC1;color: white;font-size: 24px;font-weight: 200;border-radius: 12px;" >Nous Contacter</button>
    </div>
</div>


<div class="w-full mt-20">
    
    <div class="flex justify-around items-center mt-10 w-full">
        <div style="width: 40%;" class="flex justify-center  items-center flex-col">
            <h1 style="color: #0E1726;font-size: 66px;font-weight: 500; line-height: 1.1;text-align: center;">Automate and optimize business processes</h1>
            <mat-accordion class=" mb-3 mt-3" style="box-shadow: 0 0 4px black;border-radius: 10px;border-left: 8px solid brown;width: 90%;">  
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title  style="font-size: 20px;font-weight: 600;">
                        Découvrir
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p style="font-size: 20px;line-height: 1.2;">Optimisez les processus et découvrez les possibilités d'automatisation de l'entreprise grâce à l'exploration des tâches et des processus.</p>
                </mat-expansion-panel>
            </mat-accordion>
        

            <mat-accordion class=" mb-3 mt-3 " style="box-shadow: 0 0 4px black;border-radius: 10px;border-left: 8px solid brown;width: 90%;">  
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title  style="font-size: 20px;font-weight: 600;">
                        Automatiser
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p style="font-size: 20px;line-height: 1.2;">Automatiser à travers un nombre quasi illimité de systèmes, d'applications de bureau et de sites web grâce à l'IA et à l'automatisation des processus numériques et robotiques.</p>
                </mat-expansion-panel>
            </mat-accordion>
        

            <mat-accordion class=" mb-3 mt-3" style="box-shadow: 0 0 4px black;border-radius: 10px;border-left: 8px solid brown;width: 90%;">  
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title  style="font-size: 20px;font-weight: 600;">
                        Orchestrer
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p style="font-size: 20px;line-height: 1.2;">Développez en toute confiance l'automatisation au sein de votre organisation grâce à la sécurité intégrée, à la gouvernance et à la surveillance à 360 degrés.</p>
                </mat-expansion-panel>
            </mat-accordion>
        

            <mat-accordion class=" mb-3 mt-3" style="box-shadow: 0 0 4px black;border-radius: 10px;border-left: 8px solid brown;width: 90%;">  
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title  style="font-size: 20px;font-weight: 600;">
                        Étendre
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p style="font-size: 20px;line-height: 1.2;">Accélérez la transformation numérique avec des applications, des sites web, des agents et bien plus encore dans Microsoft Power Platform.</p>
                </mat-expansion-panel>
            </mat-accordion>

        </div>
        <img style="width: 60%;" src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/OverviewandFeatures_Overview_1.1?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=1664&hei=1062&qlt=100&fmt=png-alpha&fit=constrain" alt="" srcset="">
    </div>
</div>


<div class="w-full pt-10" style="background-image: linear-gradient(to right,  #071720,#003158);">
    <div class="max-w-6xl mx-auto text-center">
        <h1 class="text-4xl font-bold mt-2 text-white" style="font-size: 40px;">Systèmes d'enregistrement, de travail et de collaboration</h1>
    </div>
    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 mt-10 max-w-6xl mx-auto">
        <!-- Card 1 -->
        <div class=" p-6 rounded-lg text-center">
            <img src="https://www.microsoft.com/content/dam/microsoft/final/en-us/microsoft-brand/icons/Automate-UseCases_icon1.svg" style="background-color: white;padding: 20px;width: 70px;border-radius: 12px;">
            <h2 class="font-semibold text-lg text-white">Une gouvernance puissante facilitée</h2>
            <p class="text-gray-400 mt-2">Obtenez plus de visibilité et de contrôle avec moins d'efforts. Gouverner à l'échelle avec Managed Environments.</p>
        </div>
        
        <!-- Card 2 -->
        <div class=" p-6 rounded-lg text-center">
            <img src="https://www.microsoft.com/content/dam/microsoft/final/en-us/microsoft-brand/icons/Automate-UseCases_icon2.svg" style="background-color: white;padding: 20px;width: 70px;border-radius: 12px;">
            <h2 class="font-semibold text-lg text-white">Modèle de solution d'approvisionnement SAP</h2>
            <p class="text-gray-400 mt-2">Mettre en place rapidement et facilement des solutions permettant d'exécuter les principaux processus d'achat.</p>
        </div>
        
        <!-- Card 3 -->
        <div class=" p-6 rounded-lg text-center">
            <img src="https://www.microsoft.com/content/dam/microsoft/final/en-us/microsoft-brand/icons/Automate-UseCases_icon3.svg" style="background-color: white;padding: 20px;width: 70px;border-radius: 12px;">
            <h2 class="font-semibold text-lg text-white">Rationalisation des processus d'approbation</h2>
            <p class="text-gray-400 mt-2">Créez, gérez et partagez des processus d'approbation au sein de votre organisation. Approuver de n'importe où grâce à la prise en charge mobile.</p>
        </div>
        
        <!-- Card 4 -->
        <div class=" p-6 rounded-lg text-center">
            <img src="https://www.microsoft.com/content/dam/microsoft/final/en-us/microsoft-brand/icons/Automate-UseCases_icon4.svg" style="background-color: white;padding: 20px;width: 70px;border-radius: 12px;">
            <h2 class="font-semibold text-lg text-white">Interopérabilité avec Microsoft 365</h2>
            <p class="text-gray-400 mt-2">Automatisez dans Excel, OneDrive ou Teams sans changer d'application et sans interrompre votre travail.</p>
        </div>
        
        <!-- Card 5 -->
        <div class=" p-6 rounded-lg text-center">
            <img src="https://www.microsoft.com/content/dam/microsoft/final/en-us/microsoft-brand/icons/Automate-UseCases_icon5.svg" style="background-color: white;padding: 20px;width: 70px;border-radius: 12px;">
            <h2 class="font-semibold text-lg text-white">Automatisation innovante des documents</h2>
            <p class="text-gray-400 mt-2">Mettez facilement en place un traitement robuste des documents avec AI Builder, Power Automate, Power Apps et Microsoft Dataverse.</p>
        </div>
        
        <!-- Card 6 -->
        <div class=" p-6 rounded-lg text-center">
            <img src="https://www.microsoft.com/content/dam/microsoft/final/en-us/microsoft-brand/icons/Automate-UseCases_icon6.svg" style="background-color: white;padding: 20px;width: 70px;border-radius: 12px;">
            <h2 class="font-semibold text-lg text-white">Automatisation de l'activité en fonction des données</h2>
            <p class="text-gray-400 mt-2">Connectez-vous à Power BI et lancez des flux de travail en aval lorsque vos indicateurs de performance clés franchissent des seuils critiques.</p>
        </div>
    </div>
</div>
<div class="w-full mb-20">
    <div class="max-w-6xl mx-auto mt-16">
        <h2 class="text-3xl font-bold text-center" style="font-size: 30px;">Plans de tarification</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8 mt-8 justify-center"> <!-- Center the grid content -->
            <!-- Premium Plan -->
            <div class="bg-white text-black p-6 rounded-lg" style="box-shadow: 0 0 8px black; display: flex; justify-content: center; align-items: center; max-width: 400px; overflow: hidden;">
                <div style="width: 100%; text-align: center;">
                    <h3 class="text-xl font-semibold">Power Automate Premium</h3>
                    <p class="text-gray-600 mt-2">Développez vos flux de travail avec des flux en nuage et des flux de bureau assistés améliorés par des connecteurs de premier ordre, l'exploration de processus et bien plus encore.</p>
                    <h2 class="text-3xl font-bold mt-4">15.00 DT</h2>
                    <p class="text-gray-600">paiement annuel</p>
                    <button class="mt-4 bg-blue-600 text-white py-2 px-4 rounded-lg mx-auto block">Ajouter au panier</button>
                </div>
            </div>
            <!-- Process Plan -->
            <div class="bg-white text-black p-6 rounded-lg" style="box-shadow: 0 0 8px black; display: flex; justify-content: center; align-items: center; max-width: 400px; overflow: hidden;">
                <div style="width: 100%; text-align: center;">
                    <h3 class="text-xl font-semibold">Power Automate Processus</h3>
                    <p class="text-gray-600 mt-2">Licence d'un robot qui peut être utilisé pour des flux de bureau sans surveillance ou des flux en nuage accessibles à un nombre illimité d'utilisateurs au sein de l'organisation.</p>
                    <h2 class="text-3xl font-bold mt-4">150.00 DT</h2>
                    <p class="text-gray-600"> paiement annuel</p>
                    <button class="mt-4 bg-blue-600 text-white py-2 px-4 rounded-lg mx-auto block">Ajouter au panier</button>
                </div>
            </div>
        </div>
    </div>
</div>
