<!-- <div class="administration-azure">
    <h2>Administration Azure</h2>
    <div class="content-wrapper">
        <div class="image-placeholder">
            <img src="https://media.istockphoto.com/id/1412487796/fr/photo/femme-noire-travaillant-dans-un-bureau-devant-un-ordinateur-portable.jpg?s=612x612&w=0&k=20&c=qG1hJ-_7fd9nkjVeteEYPX2p6II8OqEQoy_w-ka4-hY=" alt="Description de l'image">
        </div>
        <p>
            Les applications critiques de l'entreprise nécessitent un contrôle et une maintenance constants, ainsi qu'un service personnalisé qui corresponde aux processus de négocie du client et réponde à ses besoins. Avec la confiance d'Azure, vous pouvez garantir une gestion efficace et sécurisée de vos applications.
        </p>
    </div>
</div> -->





<div class="relative bg-cover bg-center h-[650px] rounded-lg overflow-hidden" style="background-image: url('https://www.seidor.com/_next/image?url=https%3A%2F%2Fproimg.seidor.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fhero_image%2Fpublic%2F2021-09%2Fcloud-agilidad-rapidez.jpg%3Fitok%3DMRj85wMr&w=1920&q=75')">
    <div class="absolute inset-0 bg-black opacity-40"></div> <!-- Filtrage de l'image pour améliorer la lisibilité -->
  
    <div class="relative z-10 text-white p-8 flex flex-col justify-between h-full">
      <div class="ps-60">
        <div class="flex justify-between w-36 ">
          <h1 class=" font-bold mb-2 leading-tight flex flex-col gap-1 ">
            <span class="text-white">CLOUD</span> <br>
            <span class="text-white  ps-10 " style="font-size: 54px;">AZURE</span>
          </h1>
        </div>
        <p class="text-xl  leading-relaxed pt-16  w-1/2 text-wrap ">
         <span class="text-white font-400 " style="text-align: left;
         margin-top: 5em;
         margin-bottom: 3em;">Les applications critiques de l'entreprise nécessitent un contrôle et une maintenance constants, ainsi qu'un service personnalisé qui corresponde aux processus de négoce du client et réponde à ses besoins. Avec la confiance d'Azure</span>
        </p>
      </div>
  
    </div>
  
    
    <div class="absolute bottom-0 left-0 right-0 bg-black opacity-60 text-center py-3">
      <p class="text-white text-sm">Administration Azure</p>
    </div>
  </div>



  <div class=" bg-cover bg-center h-[550px] rounded-lg overflow-hidden mb-6" >
    <div class="   p-8 flex flex-col justify-between h-full">
      <div class="flex justify-center items-center flex-col" style="font-size:40px ;">
        <p class="text-xl  leading-relaxed pt-5  w-3/5 text-wrap text-center " style="color: #9C9B99;font-size: 24px;">
            Les applications critiques de l'entreprise nécessitent un <span style="color: #9C9999;font-weight: 600;">contrôle et une maintenance</span>   constants, ainsi qu'un <span style="color: #9C9999;font-weight: 600;">service personnalisé</span>  qui corresponde aux processus de négoce du client.
        </p>
        <p class="text-xl  leading-relaxed pt-5  w-3/5 text-wrap text-center " style="color: #9C9B99;font-size: 24px;">
            Cependant, les environnements actuels demandent aux organisations de faire preuve d'une plus grande <span style="color: #9C9999;font-weight: 600;">flexibilité</span>  et d'une plus grande <span style="color: #9C9999;font-weight: 600;">souplesse</span> . Les planifications à trois ans font partie du passé, avec des solutions alignées aux besoins prévus, faisant presque toujours appel à la suringénierie, et présentant des topologies rigides et une surcapacité
        </p>
        <p class="text-xl  leading-relaxed pt-5  w-3/5 text-wrap text-center " style="color: #9C9B99;font-size: 24px;">
            Les CIO demandent de nouvelles <span style="color: #9C9999;font-weight: 600;">structures plus dynamiques</span>  pour répondre aux besoins extrêmement changeants de leurs entreprises tout en <span style="color: #9C9999;font-weight: 600;">accélérant la rentabilité</span> .
        </p>
      </div>
  
    </div>

  
    
  
    

</div>

<div class="h-[380px] flex justify-center items-center  " style="">
  <div class="w-1/2 flex justify-center flex-col items-center">
      <p style="color :#9FA19F;font-size:20px ;width: 75%;font-weight: lighter;line-height: 1.5;">Le risque actuel est précisément celui de ne pas passer au cloud. Les risques inhérents au cloud se rapportent aux coûts d'opportunité liés au fait de ne pas pouvoir profiter de ses avantages, notamment en ce qui concerne les environnements d'applications SAP et SAP HANA.</p>
      <p  style="color :#07153A;font-size:20px ;width: 75%;font-weight: 600;line-height: 1.5;font-size: 36px;">Ne pas perdre le coût de l'opportunité pour croître en sécurité et en confiance</p>
  </div>
  <img class="w-1/2 " style="height:100%" src="https://www.seidor.com/_next/image?url=https%3A%2F%2Fproimg.seidor.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fcheckerboard%2Fpublic%2F2021-11%2Fpexels-philipp-birmes-830891_1.jpg%3Fitok%3DFOi1k9-4&w=1920&q=75" alt="">
  
</div>
<div class="h-[380px] flex justify-center items-center  " style="">
    <img class="w-1/2 " style="height:100%" src="https://www.seidor.com/_next/image?url=https%3A%2F%2Fproimg.seidor.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fcheckerboard%2Fpublic%2F2021-11%2FAdobeStock_227492231.jpeg%3Fitok%3DNO7DZEwn&w=1920&q=75" alt="">
  <div class="w-1/2 flex justify-center flex-col items-center">
      <p style="color :#9FA19F;font-size:20px ;width: 75%;font-weight: lighter;line-height: 1.5;">La croissance des entreprises et de leurs données commerciales gérées sur SAP ont plus que jamais besoin d'infrastructures rapides capables de fournir le comptage, le stockage, l'intégration des données et des analyses.</p>
      <p  style="color :#07153A;font-size:20px ;width: 75%;font-weight: 600;line-height: 1.5;font-size: 36px;">Grandir avec SAP et Azure</p>
  </div>
  
</div>
<div class="h-[380px] flex justify-center items-center  " style="">
  <div class="w-1/2 flex justify-center flex-col items-center">
      <p style="color :#9FA19F;font-size:20px ;width: 75%;font-weight: lighter;line-height: 1.5;">La solution passe par la transformation des data centers via l'adoption de scénarios hybrides, soutenus par les services commerciaux Azure de paiement par utilisation.</p>
      <p  style="color :#07153A;font-size:20px ;width: 75%;font-weight: 600;line-height: 1.5;font-size: 36px;">La solution</p>
  </div>
  <img class="w-1/2 " style="height:100%" src="https://www.seidor.com/_next/image?url=https%3A%2F%2Fproimg.seidor.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fcheckerboard%2Fpublic%2F2021-11%2FAdobeStock_285235665.jpeg%3Fitok%3Di-wiMroo&w=1920&q=75" alt="">
  
</div>
<div class="h-[380px] flex justify-center items-center   " style="">
    <img class="w-1/2 " style="height:100%" src="https://www.seidor.com/_next/image?url=https%3A%2F%2Fproimg.seidor.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fcheckerboard%2Fpublic%2F2021-11%2FAdobeStock_145561645.jpeg%3Fitok%3DV4BLeHPr&w=1920&q=75" alt="">
  <div class="w-1/2 flex justify-center flex-col items-center">
      <p style="color :#9FA19F;font-size:20px ;width: 75%;font-weight: lighter;line-height: 1.5;">Nous proposons l'externalisation des systèmes SAP sur Azure, en élaborant des couches de services en mode infrastructure en tant que service (IaaS), leur exploitation, leur gestion et leur surveillance spécialisée, ainsi que la maintenance et d'administration de la couche BASIS de SAP.</p>
      <p  style="color :#07153A;font-size:20px ;width: 75%;font-weight: 600;line-height: 1.5;font-size: 36px;">Notre proposition</p>
  </div>
  
</div>
<div class="h-[380px] flex justify-center items-center mb-3  " style="">
    <div class="w-1/2 flex justify-center flex-col items-center">
        <p style="color :#9FA19F;font-size:20px ;width: 75%;font-weight: lighter;line-height: 1.5;">Nous disposons de l'infrastructure totalement flexible d'Azure. Nous fournissons des serveurs virtuels certifiés par SAP et des services de plate-forme gérés qui facilitent la surveillance continue, avec des services correctifs et à la demande ; du système opérationnel et de la solution</p>
        <p  style="color :#07153A;font-size:20px ;width: 75%;font-weight: 600;line-height: 1.5;font-size: 36px;">Avec une infrastructure souple et sûre</p>
    </div>
    <img class="w-1/2 " style="height:100%" src="https://www.seidor.com/_next/image?url=https%3A%2F%2Fproimg.seidor.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fcheckerboard%2Fpublic%2F2021-11%2FAdobeStock_126038046_0.jpeg%3Fitok%3DkWsWEi-t&w=1920&q=75" alt="">
  
</div>

<div class=" pt-5 pb-8" style="background-color: #F3F3F3;height: fit-content;width: 100%;display: flex;justify-content: center;align-items: center;flex-direction: column;">
    <div class="flex justify-center items-center" ><h2 style="color: #07153a;font-size: 1.5rem;font-weight: 700;
        letter-spacing: .47em;
        text-transform: uppercase;text-align: center;line-height: 1.25;">LES AVANTAGES DE SAP <br>SUR AZURE</h2></div>
    <div class="grid grid-cols-3 grid-rows-3 mt-20 gap-20">
        <!-- 1 -->
        <mat-card class="example-card" style="border-radius: 12px;overflow: hidden;filter: drop-shadow( 0 0 8px #cac9c9);">
            <mat-card-header style="background-color: #F3F3F3 ;display: flex;justify-content: center;align-items: center;padding: 12px;">
                
              <mat-card-title style="font-size: 30px;width: 100%;display: flex;justify-content: center;align-items: center;"> <span><img style="margin-right: 15px;" src="https://www.seidor.com/_next/image?url=https%3A%2F%2Fproimg.seidor.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Ficons%2Fpublic%2F2021-10%2FGroup%2520304.png%3Fitok%3DTXN43y2R&w=1920&q=75" alt=""></span>Expérience</mat-card-title>
            </mat-card-header>
            <mat-card-content style="padding: 14px;">
              <p style="padding-top:15px;line-height: 1.5;    font-weight: 400;    margin-bottom: 3.4rem;color: #999;font-size: 1.4rem;">Plus de 20 ans d'association SAP / Microsoft pour fournir les solutions les plus innovantes.</p>
            </mat-card-content>
        </mat-card>
        <!-- 2 -->
        <mat-card class="example-card" style="border-radius: 12px;overflow: hidden;filter: drop-shadow( 0 0 8px #cac9c9);">
            <mat-card-header style="background-color: #F3F3F3 ;display: flex;justify-content: center;align-items: center;padding: 12px;">
                
              <mat-card-title style="font-size: 30px;width: 100%;display: flex;justify-content: center;align-items: center;"> <span><img style="margin-right: 15px;" src="https://www.seidor.com/_next/image?url=https%3A%2F%2Fproimg.seidor.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Ficons%2Fpublic%2F2021-10%2FGroup%2520390.png%3Fitok%3DjMliw3uc&w=1920&q=75" alt=""></span>Scalabilité</mat-card-title>
            </mat-card-header>
            <mat-card-content style="padding: 14px;">
              <p style="padding-top:15px;line-height: 1.5;    font-weight: 400;    margin-bottom: 3.4rem;color: #999;font-size: 1.4rem;">Paiement par utilisation. Possibilité de développer / réduire l'infrastructure rapidement.</p>
            </mat-card-content>
        </mat-card>
        <!-- 3 -->
        <mat-card class="example-card" style="border-radius: 12px;overflow: hidden;filter: drop-shadow( 0 0 8px #cac9c9);">
            <mat-card-header style="background-color: #F3F3F3 ;display: flex;justify-content: center;align-items: center;padding: 12px;">
                
              <mat-card-title style="font-size: 30px;width: 100%;display: flex;justify-content: center;align-items: center;"> <span><img style="margin-right: 15px;" src="https://www.seidor.com/_next/image?url=https%3A%2F%2Fproimg.seidor.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Ficons%2Fpublic%2F2021-10%2FGroup%2520253_0.png%3Fitok%3DHrQpQBEZ&w=1920&q=75" alt=""></span>Flexibilité</mat-card-title>
            </mat-card-header>
            <mat-card-content style="padding: 14px;">
              <p style="padding-top:15px;line-height: 1.5;    font-weight: 400;    margin-bottom: 3.4rem;color: #999;font-size: 1.4rem;">Flexibilité, évolutivité et rendement. Il offre la bande passante entre les ordinateurs virtuels du cloud la plus rapide au monde (30 Gbps).</p>
            </mat-card-content>
        </mat-card>
        <!-- 4 -->
        <mat-card class="example-card" style="border-radius: 12px;overflow: hidden;filter: drop-shadow( 0 0 8px #cac9c9);">
            <mat-card-header style="background-color: #F3F3F3 ;display: flex;justify-content: center;align-items: center;padding: 12px;">
                
              <mat-card-title style="font-size: 30px;width: 100%;display: flex;justify-content: center;align-items: center;"> <span><img style="margin-right: 15px;" src="https://www.seidor.com/_next/image?url=https%3A%2F%2Fproimg.seidor.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Ficons%2Fpublic%2F2021-10%2FVector.png%3Fitok%3DJoQugAgn&w=1920&q=75" alt=""></span>serveurs virtuels</mat-card-title>
            </mat-card-header>
            <mat-card-content style="padding: 14px;">
              <p style="padding-top:15px;line-height: 1.5;    font-weight: 400;    margin-bottom: 3.4rem;color: #999;font-size: 1.4rem;">Serveurs virtuels certifiés par SAP. Les ordinateurs virtuels atteignent 4 To et les composants importants jusqu'à 24 To, avec 16 configurations au choix.</p>
            </mat-card-content>
        </mat-card>
        <!-- 5-->
        <mat-card class="example-card" style="border-radius: 12px;overflow: hidden;filter: drop-shadow( 0 0 8px #cac9c9);">
            <mat-card-header style="background-color: #F3F3F3 ;display: flex;justify-content: center;align-items: center;padding: 12px;">
                
              <mat-card-title style="font-size: 30px;width: 100%;display: flex;justify-content: center;align-items: center;"> <span><img style="margin-right: 15px;" src="https://www.seidor.com/_next/image?url=https%3A%2F%2Fproimg.seidor.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Ficons%2Fpublic%2F2021-10%2FGroup%2520232.png%3Fitok%3DhK-2xCw2&w=1920&q=75" alt=""></span>Sécurité</mat-card-title>
            </mat-card-header>
            <mat-card-content style="padding: 14px;">
              <p style="padding-top:15px;line-height: 1.5;    font-weight: 400;    margin-bottom: 3.4rem;color: #999;font-size: 1.4rem;">Sécurité et conformité aux normes réglementaires les plus élevées, y compris RGPD, ISO 27001, SOC 1 ou SOC 2, entre autres</p>
            </mat-card-content>
        </mat-card>
        <!-- 6 -->
        <mat-card class="example-card" style="border-radius: 12px;overflow: hidden;filter: drop-shadow( 0 0 8px #cac9c9);">
            <mat-card-header style="background-color: #F3F3F3 ;display: flex;justify-content: center;align-items: center;padding: 12px;">
                
              <mat-card-title style="font-size: 30px;width: 100%;display: flex;justify-content: center;align-items: center;"> <span><img style="margin-right: 15px;" src="https://www.seidor.com/_next/image?url=https%3A%2F%2Fproimg.seidor.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Ficons%2Fpublic%2F2021-10%2FGroup%2520263.png%3Fitok%3DuQrYPvEu&w=1920&q=75" alt=""></span>Internationalisation</mat-card-title>
            </mat-card-header>
            <mat-card-content style="padding: 14px;">
              <p style="padding-top:15px;line-height: 1.5;    font-weight: 400;    margin-bottom: 3.4rem;color: #999;font-size: 1.4rem;">Le système offre plus de régions mondiales que n'importe quel autre prestataire de services cloud.</p>
            </mat-card-content>
        </mat-card>
        <!-- 7 -->
        <mat-card class="example-card" style="border-radius: 12px;overflow: hidden;filter: drop-shadow( 0 0 8px #cac9c9);">
            <mat-card-header style="background-color: #F3F3F3 ;display: flex;justify-content: center;align-items: center;padding: 12px;">
                
              <mat-card-title style="font-size: 30px;width: 100%;display: flex;justify-content: center;align-items: center;"> <span><img style="margin-right: 15px;" src="https://www.seidor.com/_next/image?url=https%3A%2F%2Fproimg.seidor.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Ficons%2Fpublic%2F2021-10%2FGroup%2520194.png%3Fitok%3DA6tG-HVb&w=1920&q=75" alt=""></span>Agilité</mat-card-title>
            </mat-card-header>
            <mat-card-content style="padding: 14px;">
              <p style="padding-top:15px;line-height: 1.5;    font-weight: 400;    margin-bottom: 3.4rem;color: #999;font-size: 1.4rem;">Souplesse d'exploitation avec toute base de données, taille de composant, système opérationnel et version SAP.</p>
            </mat-card-content>
        </mat-card>
        <!-- 8-->
        <mat-card class="example-card" style="border-radius: 12px;overflow: hidden;filter: drop-shadow( 0 0 8px #cac9c9);">
            <mat-card-header style="background-color: #F3F3F3 ;display: flex;justify-content: center;align-items: center;padding: 12px;">
                
              <mat-card-title style="font-size: 30px;width: 100%;display: flex;justify-content: center;align-items: center;"> <span><img style="margin-right: 15px;" src="https://www.seidor.com/_next/image?url=https%3A%2F%2Fproimg.seidor.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Ficons%2Fpublic%2F2021-09%2FGroup%2520389.png%3Fitok%3DwJbVJ58k&w=1920&q=75" alt=""></span>Intégration</mat-card-title>
            </mat-card-header>
            <mat-card-content style="padding: 14px;">
              <p style="padding-top:15px;line-height: 1.5;    font-weight: 400;    margin-bottom: 3.4rem;color: #999;font-size: 1.4rem;">Intégration avec les services de sauvegarde informatique, de conservation et reprise intégrée des catastrophes.</p>
            </mat-card-content>
        </mat-card>
        <!-- 9 -->
        <mat-card class="example-card" style="border-radius: 12px;overflow: hidden;filter: drop-shadow( 0 0 8px #cac9c9);">
            <mat-card-header style="background-color: #F3F3F3 ;display: flex;justify-content: center;align-items: center;padding: 12px;">
                
              <mat-card-title style="font-size: 30px;width: 100%;display: flex;justify-content: center;align-items: center;"> <span><img style="margin-right: 15px;" src="https://www.seidor.com/_next/image?url=https%3A%2F%2Fproimg.seidor.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Ficons%2Fpublic%2F2021-10%2FGroup%2520236.png%3Fitok%3Dfon3DzBj&w=1920&q=75" alt=""></span>Révision périodique</mat-card-title>
            </mat-card-header>
            <mat-card-content style="padding: 14px;">
              <p style="padding-top:15px;line-height: 1.5;    font-weight: 400;    margin-bottom: 3.4rem;color: #999;font-size: 1.4rem;">Vérification des plans de reprise sans impact sur l'exploitation quotidienne.</p>
            </mat-card-content>
        </mat-card>

    </div>
</div>

<div class="flex justify-center items-center flex-col p-20 text-wrap ">
        <h1 style="font-size: 50px;font-weight: 600;margin-bottom: 80px;">Pourquoi TIMSOFT ?</h1>
        <p style="color:#A69B99;font-size: 1.9rem;width: 60%;line-height: 1.1;text-align: center;font-weight: lighter;margin-bottom: 25px;"> Chez Timsoft, nous croyons que derrière chaque chiffre se cache une histoire humaine.
            Dans un monde gouverné par les données, notre conviction inébranlable repose sur l’élément humain, qui équilibre véritablement l’équation du succès.</p>
        <p style="color:#A69B99;font-size: 1.9rem;width: 60%;line-height: 1.1;text-align: center;font-weight: lighter;margin-bottom: 15px;">Investissez dans votre avenir avec Timsoft.
            Nous offrons des opportunités de formation et de développement pour vous aider à évoluer dans votre carrière.</p>
        <p style="color:#A69B99;font-size: 1.9rem;width: 60%;line-height: 1.1;text-align: center;font-weight: lighter;margin-bottom: 15px;">Rejoignez une équipe passionnée qui aime relever les défis.
            Chez Timsoft, chaque jour est une nouvelle aventure, remplie d’opportunités et de succès partagés.
            <p style="color:#A69B99;font-size: 1.9rem;width: 60%;line-height: 1.1;text-align: center;font-weight: lighter;margin-bottom: 15px;">Plongez au cœur de l’avenir du retail avec les experts de Timsoft.
                Ensemble, nous repoussons les limites de l’innovation pour redéfinir l’expérience client.</p>
</div>
  
   
  
    
    
<div class="w-full h-[200px] flex justify-start items-center mb-5" style="background-image: linear-gradient(to right,#243A76,#08173C);">
    <button routerLink="/NousContacter" style="background-color: #208df3;color: white;font-size: 30px;padding: 15px;font-weight: 500;border-radius: 15px;margin-left: 150px;">CONTACTEZ NOUS</button>
</div>